.App {
  text-align: center;
  background-color: RGBA(2, 16, 25, 0.9);
}

#fireTitle {
  color: whitesmoke;
  font-size: 1.5em;
}

#fireResults {
  padding-top: 1em;
}

#search {
  list-style-type: none;
  position: absolute;
  transition: height 3s;
  z-index: 4;
  padding-top: 0;
  padding-bottom: 0;
  overflow: visible;
  background-image: linear-gradient(
    to bottom right,
    RGBA(25, 25, 25, 0.9),
    RGBA(2, 16, 25, 0.9)
  );
}

#searchBar {
  margin-left: 10%;
  margin-right: 10%;
}

#legendButton {
  margin-bottom: 2em;
  z-index: 2;
}

#searchBar {
  margin: 0;
}

#searchContents {
  margin: 1em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 0;
}

#legendButton {
  background-color: #08304b;
  font-size: 14px;
  border-radius: 4px;
  color: whitesmoke;
  border: none;
}

#legendButton:hover {
  background-color: #222;
  outline: none;
  opacity: 0.2;
  border: none;
}

#loadScreen {
  margin-top: 10em;
  position: absolute;
  z-index: 10;
  background-color: RGBA(2, 16, 25, 0.9);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  background-color: RGBA(2, 16, 25, 0);
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  color: whitesmoke;
  text-align: center;
}
input:focus {
  border-bottom: 2px solid #333;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (max-width: 385px) {
  #search {
    padding: 0;
    width: 100vw;
  }

  #fireTitle {
    margin: 1em;
  }

  #fireTitle {
    margin: auto;
    height: 0%;
  }
}

@media (max-width: 812px) {
  #search {
    max-height: 100vh;
    overflow: hidden;
  }

  #fireResults {
  }
  #fireTitle {
    margin: 1em;
  }

  #fireTitle {
    margin: auto;
    height: 0%;
  }
}
